@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');



/********Font sizes**********/
$font-family:'Space Mono', monospace;

/*Font size for form input*/
$font-size:24px;

$font-weight-regular:400;
$font-weight-bold:700;
